{% extends 'reserva/base.html' %}
<!-- con este código se conecta al base.html -->
{% load static %}
<!--con este código traemos todos las imagenes css y js de la carpeta static-->

{% block content %}


<body>
    <div class="text-center">
        <h2>Gestión de Medicamentos</h2>
        <a type="button" class="btn btn-outline-primary" href="{% url 'crear_medicamento' %}">Nuevo Medicamento</a>
    </div>
    <div class="d-flex container">
        <div class="row">
            {% for med in meds %}

            <div class="col-sm-3 mt-3">
                <div class="card" style="width: 25rem;">
                    <div class="card-body">
                        <h5 class="card-title"><strong>{{med.nombreMed}}</strong></h5>
                        <p class="card-text">Principio: {{med.principio}}</p>
                        <p class="card-text">{{med.categoria}}</p>
                        <p class="card-text">Laboratorio: {{med.laboratorio}}</p>
                        <p class="card-text">Stock: {{med.stock}}</p>
                        <p class="card-text">Vencimiento: {{med.vencimiento}}</p>
                        <a type="button" class="btn btn-outline-success" href="{% url 'modificar_medicamento' med.codigo %}">Modificar</a>
                        <!--<button type="button" class="btn btn-outline-danger">Vencer</button>-->
                    </div>
                </div>
            </div>

            {% endfor %}
        </div>
    </div>
</body>
{% endblock %}