{% extends 'reserva/base.html' %}
<!-- con este código se conecta al base.html -->
{% load static %}
<!--con este código traemos todos las imagenes css y js de la carpeta static-->

{% block content %}

<body>
    <div class="card">
        <div class="card-body">

            <form action="" method="post">

                {% csrf_token %} {{ form }}

                <div class="d-flex justify-content-center">
                    <input type="reset" value="Cancelar" class="btn btn-outline-danger">
                    <input type="submit" value="Guardar" class="btn btn-outline-success">

                </div>

            </form>

        </div>
    </div>



</body>

{% endblock %}