<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cuerpo correo</title>
</head>
<body>
    <h1>Hola {{ mail }}</h1>
    <h2>Le informamos que ya contamos con el stock necesario para que pueda retirar su medicamento. No olvide traer su carnet de paciente para poder hacer la entrega.</h2>
    <p>
        Este mensaje es enviado desde farmacia CESFAM.
    </p>
</body>
</html>