{% extends 'reserva/base.html' %}
<!-- con este código se conecta al base.html -->
{% load static %}
<!--con este código traemos todos las imagenes css y js de la carpeta static-->

{% block content %}


<body>
    <div class="text-center">
        <h2>Creación de Recetas</h2>
    </div>
    <div class="container">
        <div class="row">
            <form method="get">
                <div id="custom-search-input">
                    <div class="col-md-12">
                        <input type="text" class="form-control" placeholder="Ingrese nombre o principio activo" name="buscar">
                        <span>
                            <button type="submit" class="btn-success">Buscar</button>
                        </span>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="d-flex container">
        <div class="row">
            {% for med in medicamentos %}
            <div class="col-8 col-sm-3 mt-2">
                <div class="card" style="width: 25rem;">
                    <div class="card-body">
                        <h5 class="card-title"><strong>{{med.nombreMed}}</strong></h5>
                        <p class="card-text">Principio: {{med.principio}}</p>
                        <p class="card-text">{{med.categoria}}</p>
                        <p class="card-text">Laboratorio: {{med.laboratorio}}</p>
                        <p class="card-text">Stock: {{med.stock}}</p>
                        <p class="card-text">Vencimiento: {{med.vencimiento}}</p>
                        <a type="button" class="btn btn-outline-success" href="{% url 'agregar_medicamento_carrito' med.codigo %}">Agregar a la receta</a>
                    </div>
                </div>
            </div>
            {% endfor %}
            <div class="col-4">
                <div class="alert alert-primary" role="alert">
                    <table class="table table-bordered">
                        <thead>
                            <h4 scope="row" colspan="3" class="text-center">Receta</h4>
                            <tr>
                                <th scope="col">Código</th>
                                <th scope="col">Nombre</th>
                                <th scope="col">Cantidad</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for meds in carrito_meds %}
                            <tr>
                                <td>{{meds.codigo}}</td>
                                <td>{{meds.nombremed}}</td>
                                <td>{{meds.cantidad}}</td>
                            </tr>
                            {% endfor %}
                            <!-- <tr>
                                <td colspan="3">
                                    <div class="alert alert-danger text-center">No ha agregado medicamentos</div>
                                </td>
                            </tr> -->
                        </tbody>
                    </table>
                </div>
                <div class="row text-center">
                    <div class="col-6"><a href="{% url 'limpiar_medicamento_carrito' %}" class="btn btn-outline-danger">Limpiar</a></div>
                    <div class="col-6"><a href="{% url 'asignar_receta' %}" class="btn btn-outline-success">Guardar</a></div>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock %}