{% extends 'reserva/base.html' %}
{% load static %}

{% block content %}
       
<div class="container w-75 bg-light mt-5 rounded shadow" >
  <div class="row p-5">
    <div class="col-12">
      <!-- <a href="{% url 'receta' %}" class="btn btn-outline-primary">Agregar más medicamentos</a> -->
      <a href="{% url 'finalizar_receta' %}" class="btn btn-outline-success">Finalizar receta</a>
    </div>
  </div>  
</div>

<div class="container w-75 bg-light mt-5 rounded shadow" >
  <div class="row p-3 align-items-stretch">
    <div style="flex:2"><strong>Medicamento</strong></div>
    <div style="flex:2"><strong>Principio Activo</strong></div>
    <div style="flex:1"><strong>Formato</strong></div>
    <div style="flex:1"><strong>Categoría</strong></div>
    <div style="flex:1"><strong>Laboratorio</strong></div>
    <div style="flex:1"><strong>Cantidad</strong></div>
  </div>
{% for med in listaMeds %}
  <div class="row p-3 align-items-stretch">
    <div style="flex:2">{{med.codmed.nombreMed}}</div>
    <div style="flex:2">{{med.codmed.principio}}</div>
    <div style="flex:1">{{med.codmed.formato}}</div>
    <div style="flex:1">{{med.codmed.categoria}}</div>
    <div style="flex:1">{{med.codmed.laboratorio}}</div>
    <div style="flex:1">
      <p class="quantity">{{med.cantidad}}</p>
      <div class="quantity">
        <img class="chg-quantity" src="{% static  'reserva/img/arriba.png' %}">
    
        <img class="chg-quantity" src="{% static  'reserva/img/abajo.png' %}">
      </div>
    </div>
  </div>
 {% endfor %} 
</div>

{% endblock %}
