{% extends 'reserva/base.html' %}
{% load static %}

{% block content %}
       
<div class="container w-75 bg-light mt-5 rounded shadow" >
  <div class="row p-5">
    <div class="col-12">
      <a href="" class="btn btn-outline-primary">Agregar más medicamentos</a>
      <br>
      <hr>
      <br>
      <table class="table">
        <tr>
          <th>
            <h5>Total Medicamentos: <strong>3</strong></h5>
          </th>
          <th>
            <a href="#" class="btn btn-outline-success">Enviar receta</a>
          </th>
        </tr>
      </table>
    </div>
  </div>  
</div>

<div class="container w-75 bg-light mt-5 rounded shadow" >
  <div class="row pb-5 align-items-stretch">

  </div>
  
</div>

{% endblock %}
