{% extends 'reserva/base.html' %}
{% load static %}

{% block content %}
      <div class="container w-50 bg-light mt-5 rounded shadow" >
          <div class="row pb-5 align-items-stretch m-lg-5 m-5">
        <!-- Añadir Paciente -->
        <div class="col">
          <h2 class="fw-bold text-center pt-5 bt-5">Añadir Paciente</h2>
          <form action="#">
              <div class="mb-4">
                  <label for="text" class="form-label">Nombres</label>
                  <input type="text" class="form-control">
              </div>
              
              <div class="mb-4">
                <label for="text" class="form-label">Apellido Paterno</label>
                <input type="text" class="form-control">
              </div>
              <div class="mb-4">
                <label for="text" class="form-label">Apellido Materno</label>
                <input type="text" class="form-control">
              </div>
              <div class="mb-4">
                <label for="text" class="form-label">Rut</label>
                <input type="text" class="form-control">
              </div>

              <div class="d-grid">
                  <button type="submit" class="btn btn-primary">Agregar Paciente</button>
              </div>
          </form>
          </div>
          </div>
      </div>
{% endblock %}