{% extends 'reserva/base.html' %}
{% load static %}

{% block content %}
  <div class="container w-50 bg-light mt-5 rounded shadow" >
      <div class="row pb-5 align-items-stretch m-lg-5 m-5">
    <!-- Buscar Ficha Medicamento -->
    <div class="col">
      <h2 class="fw-bold text-center pt-5 bt-5">Buscar Medicamento</h2>
      <form class="form-inline my-2 my-lg-0">
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Buscar Paciente" aria-label="Recipient's username" aria-describedby="button-addon2">
          <button class="btn btn-outline-secondary" type="button" id="button-addon2">Buscar</button>
        </div>
        
      </form>
        </div>
      </div>
        </div>
      <div class="container w-50 bg-light mt-5 rounded shadow" >
          <div class="row pb-5 align-items-stretch m-lg-5 m-5">
        <!-- Ver Medicamento -->
        <div class="col ">
          <h2 class="fw-bold text-center pt-5 bt-5">Medicamento</h2>
          <form action="#">
              <div class="mb-4">
                  <label for="text" class="form-label">Codigo Medicamento</label>
                  <input type="text" class="form-control">
              </div>
              
              <div class="mb-4">
                <label for="text" class="form-label">Nombre Medicamento</label>
                <input type="text" class="form-control">
              </div>
              <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Descripcion del Medicamento</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
              </div>
              <div class="mb-4">
                <label for="text" class="form-label">Fabricante</label>
                <input type="text" class="form-control">
              </div>
              <div class="mb-4">
                <label for="text" class="form-label">Principio Activo</label>
                <input type="text" class="form-control">
              </div>
              <div class="mb-4">
                <label for="startDate">Fecha Vencimiento</label>
                <input id="startDate" class="form-control" type="date" />
              </div>
              <div class="mb-4">
                <label for="text" class="form-label">Cantidad Stock</label>
                <input type="text" class="form-control">
              </div>
              <div class="mb-4">
                <label for="text" class="form-label">Reserva</label>
                <input type="text" class="form-control">
              </div>
              <div class="mb-4">
                <label for="text" class="form-label">Unidad de Medida</label>
                <input type="text" class="form-control">
              </div>

              <div class="d-grid">
                  <button type="submit" class="btn btn-primary">Actualizar Medicamento</button>
              </div>
          </form>
      </div>
          </div>
      </div>
{% endblock %}
