{% extends 'reserva/base.html' %}
{% load static %}

    <div class="container w-50 bg-light mt-5 rounded shadow" >
      <div class="row pb-5 align-items-stretch m-lg-5 m-5">
    <!-- Ver Ficha Paciente -->
    <div class="col">
      <h2 class="fw-bold text-center pt-5 bt-5">Buscar Paciente</h2>
      <form class="form-inline my-2 my-lg-0">
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Buscar Paciente" aria-label="Recipient's username" aria-describedby="button-addon2">
          <button class="btn btn-outline-secondary" type="button" id="button-addon2">Buscar</button>
        </div>
        
      </form>
  </div>
      </div>
  </div>
      <div class="container w-50 bg-light mt-5 rounded shadow" >
          <div class="row pb-5 align-items-stretch m-lg-5 m-5">
        <!-- Ver Ficha Paciente -->
        <div class="col">
          <h2 class="fw-bold text-center pt-5 bt-5">Ficha Paciente</h2>
          <form action="#">
              <div class="mb-4">
                  <label for="text" class="form-label">Nombres</label>
                  <input type="text" class="form-control">
              </div>
              
              <div class="mb-4">
                <label for="text" class="form-label">Apellido Paterno</label>
                <input type="text" class="form-control">
              </div>
              <div class="mb-4">
                <label for="text" class="form-label">Apellido Materno</label>
                <input type="text" class="form-control">
              </div>
              <div class="mb-4">
                <label for="text" class="form-label">Rut</label>
                <input type="text" class="form-control">
              </div>
              <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Indicaciones</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="2"></textarea>
              </div>
              <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Dosis</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="2"></textarea>
              </div>
              <div class="d-grid">
                  <button type="submit" class="btn btn-primary">Actualizar Ficha Paciente</button>
              </div>
          </form>
      </div>
          </div>
      </div>
{% endblock %}
